# --- KUNCI RAHASIA (WAJIB) ---
.env
.env.local
.env.setup
.secret
secrets.json

# --- DEPENDENCIES (FOLDER BERAT) ---
node_modules/
jspm_packages/

# --- HARDHAT & TYPESCRIPT BUILD ---
# Folder ini otomatis dibuat saat npx hardhat compile
artifacts/
cache/
dist/
out/
bundle/
types/
typechain/
typechain-types/

# --- LOGS & ERROR REPORTS ---
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- TESTING & COVERAGE ---
coverage/
coverage.json

# --- HARDHAT IGNITION ---
# Jangan upload deployment data yang berisi info wallet lokal
ignition/deployments/

# --- OS JUNK (SAMPAH SISTEM) ---
.DS_Store
Thumbs.db
